.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bookingList {
    background-color: rgb(196, 204, 179);
    font-size: 2.5em;
    border-radius: 50px;
    overflow-y: auto;
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 100%;
    border-spacing: 50px 10px;
}

#booking {
    border-bottom: 3px solid rgb(231, 236, 220);
    padding: 10px;
    color: rgb(70, 77, 61);
}

.bookingsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bookingsTitle {
    font-size: 3em;
    margin-bottom: 10px;
    width: 50%;
}

.bookingsListContainer {
    margin: 0;
    align-self: center;
    width: 60vw;
    height: 80vh;
}

#bookingHeader {
    opacity: 0.44;
    padding: 10px;
}

.bookingsHeader {
    display: flex;
    justify-content: space-evenly
}

.bookingList tr:hover {
    background-color: rgb(231, 236, 220);
    cursor: pointer;
}

.bookingList tr {
    transition: background-color 0.2s ease-in-out;
}
.bookingList tr:not(:first-child) {
    border-bottom: 3px solid rgb(231, 236, 220);
    padding: 10px;
    color: rgb(70, 77, 61);
}