body {
    font-family: Arial, sans-serif;
    background: #d1eecf;
    font-size: 20px;
    margin: 0;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.container {
    display: flex;
    gap: 10px;
}

.modules {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 15px;
}

.module {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c3ccb4;
    padding: 15px;
    border-radius: 8px;
    height: 30px;
}

.module span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.module i {
    font-size: 20px;
}

.notifications {
    flex: 1;
    background: #c3ccb4;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notifications h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.notification {
    background: #dfe5d4;
    border-radius: 6px;
    height: 80px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #006c60;
}

input:checked + .slider:before {
    transform: translateX(20px);
}