.leftSide {
    width: 60%;
    border-right: solid black 1px;
    height: 100%
}

.rightSide {
    width: 40%;
    height: 100%
}

.productDetails {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.productDescription p {
    margin-top: 0;
}

.leftSide h3 {
    margin-bottom: 3px;
}