name: ci-workflow
run-name: ${{ github.actor }} triggered CI pipeline

on:
  pull_request:
    branches: ["main"]
  merge_group:
    types: [checks_requested]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'

      - name: Build project (skip tests)
        run: |
          mvn --batch-mode -DskipTests clean package

      - name: Run JUnit tests
        run: |
          mvn --batch-mode test

      - name: Report JUnit results
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: JUnit Tests
          path: target/surefire-reports/*.xml
          reporter: java-junit

      - name: Generate JaCoCo coverage report
        run: mvn jacoco:report

      - name: Upload JaCoCo coverage
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: backend-coverage
          path: target/site/jacoco/
